doctype
html(lang="en" ng-app="app")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title IIU MCMS
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    Link(rel="stylesheet" href="/vendor/angular-ui-grid/nggrid 3rc21/css/ui-grid.min.css")
    link(rel="stylesheet" href="/vendor/chartjs/css/angular-chart.css")
    link(rel="stylesheet" href="/css/font-awesome.min.css")
    link(rel="stylesheet" href="/css/custom.css")
    link(rel="stylesheet" href="/vendor/toastr/toastr.css")
    link(rel="stylesheet" href="/css/animation.css")
    link(rel="stylesheet" href="/css/sb-admin.css")

    link(rel="stylesheet" href="/css/login.css")
    link(rel="stylesheet" href="/css/datetimepicker.css")
    link(rel="stylesheet" href="/vendor/bootstrap-sweetalert/lib/sweet-alert.css")
    link(rel="stylesheet" href="/vendor/angular-multi-select/isteven-multi-select.css")
  body(ng-controller='rootCtrl')
     block main-content



    //include currentUser
  include scripts